{% extends 'base.html' %}{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">About</li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
  <div class="col-8">  
  <div class="jumbotron">
  <body>
<h2>About Me</h2>
<p>I like Python and Bash, sometimes the simple things are better tools.  
Give me a terminal on a Linux machine and I can keep myself busy for life!
I'm a Systems Engineer at heart in a Software World. Although I can be
distracted by shiny items I'm consistently impressed by the simple things.
I firmly believe the only limitation in life is the Imagination and anything
can be done it's just a matter of time and learning.</p>
<p>I'm not very good at writing these kinds of things since I've been given a 
second chance I still don't feel I deserved. I'd rather prove myself first. 
So check out my work and this website and come along for the journey.  It's 
gonna be a long one because after all the only time you ever stop
learning is when your dead.</p>
<p>If I had to describe my development style I would say, "I'm a just 
point me at the documentation and I'll let you know if I have any 
questions" kind of guy.</p>  
  </body>
  </div>
  <div>
      <div data-iframe-width="150" data-iframe-height="270"
           data-share-badge-id="944f8bc3-2f70-431e-8382-a92990453ab2"></div>
      <script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
      <div data-iframe-width="150" data-iframe-height="270"
           data-share-badge-id="7d6ec70c-4908-4fc9-ab02-130e0afe7703"></div>
      <script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
      <div data-iframe-width="150" data-iframe-height="270"
           data-share-badge-id="e145a515-4e02-40f2-8eb7-d86b3e371c86"></div>
      <script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
      <div data-iframe-width="150" data-iframe-height="270"
           data-share-badge-id="7d559d5d-149c-4771-b7f0-8bc80fa4f490"></div>
      <script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
      <div data-iframe-width="150" data-iframe-height="270" 
           data-share-badge-id="eef9fccf-c3d3-40b8-a272-6c36b825d91c"></div>
      <script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
  </div>
</div>
<div class="col-md-2">
  <img src="{% static 'img/JoshuaDunsing.jpg' %}"  alt="Joshua Dunsing">
</div>
</div>
</div>
{% endblock %}

