{% extends 'base.html' %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active">Blog</li>
{% endblock %}
{% block content %}

<body>
  <div class="container">
    <div class="row">
      <div class="col-8">
      <h1><a href="{% url 'posts' %}">Blog Posts</a></h1>
         {% for blogpost in blogposts %}
          <div class="jumbotron">
          <h3 class="display-4"><a href="{% url 'blogPost_detail' blogpost.get_absolute_url %}">{{ blogpost.title }}</a></h3>
          <h5 class="display-6">{{ blogpost.updated_at }}</h5>
          <p>{{ blogpost.description }}</p></div>
          {% endfor %}
          
        
      </div>

      
        <div class="jumbotron">
        <div class="col-4"></div>
        <h5><a href="{% url 'topics' %}">Topics</a></h5>
          
        {% for topic in topics %}
        <h6 class="display-6"><a href="{% url 'topic_detail' topic.get_absolute_url %}">{{ topic.name }}</a></h6>
        {% endfor %}
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</body>

{% endblock %}