Hello,

The following email

{{ email }}
With Username: {{ user.username }}

Was used to request a password reset from joshtdun.com.

If you did NOT request this password reset please disregard the email, it is likely the result
of someone entering in the wrong email in error.  No further action is required on your part and
your current password will keep working.

If you DID request this password reset please click the following link to RESET your password. 

Follow the link below:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If the above link does not work please copy and paste it into your browser's URL bar.


Thanks,

Website Admin joshtdun.com