{% extends 'base.html' %} 
{% block breadcrumb %}

<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'blog' %}">Blog</a></li>
<li class="breadcrumb-item active">Posts</li>

{% endblock %}

{% block content %}

  <div class="container-fluid">
  <div class="jumbotron">
<h3 class="display-4">Blog Posts</h3>
    {% for blogpost in blogposts %}
    <h5 class="display-5"><a href="{% url 'blogPost_detail' blogpost.get_absolute_url %}">{{ blogpost.title }}</a></h5>
    {% endfor %}
  </div>
  </div>

{% endblock %}