{% extends 'base.html' %} 
{% block breadcrumb %}

<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'blog' %}">Blog</a></li>
<li class="breadcrumb-item active">Posts</li>

{% endblock %}

{% block content %}

  <div class="container-fluid">
  <div class="jumbotron">
<h3 class="display-4">Blog Posts</h3>
    {% for blogpost in blogposts %}
    <h6 class="display-6">{{ blogpost.title }}</h6>
    {% endfor %}
  </div>
  </div>

{% endblock %}